import java.util.Scanner;
public class burcBulanProgram {
    public static void main(String[] args){
        int day;
        String month,january,february,march,april,may,june,july,august,september,october,november,december;


        Scanner i = new Scanner(System.in);
        System.out.print("What month were you born: ");
        month = i.nextLine();
        System.out.print("What day were you born: ");
        day = i.nextInt();

        if (month.equals ("january" )) {
        if (  (day==1) || (day<=21)){
                System.out.println("Your Horoscope, CAPRICORN");
            } else {
                System.out.println("Your Horoscope, AQUARIUS");
            }
        } else if (month.equals("february")) {
            if ( (day==1) || (day<=19)) {
                System.out.println("Your Horoscope, AQUARIUS");
            } else {
                System.out.println("Your Horoscope, PISCES");
            }
        } else if (month.equals("march")) {
            if ( (day==1) || (day<=20)) {
                System.out.println("Your Horoscope, PISCES");
            } else {
                System.out.println("Your Horoscope, ARIES");
            }
        } else if (month.equals("april")) {
            if (  (day==1) || (day<=20)) {
                System.out.println("Your Horoscope, ARIES");
            } else {
                System.out.println("Your Horoscope, TAURUS");
            }
        } else if (month.equals("may")) {
            if (  (day==1) || (day<=21)) {
                System.out.println("Your Horoscope, TAURUS");
            } else {
                System.out.println("Your Horoscope, GEMINI");
            }
        } else if (month.equals("june")) {
            if ((day == 1) || (day <= 22)) {
                System.out.println("Your Horoscope, GEMINI");
            } else {
                System.out.println("Your Horoscope, CANCER");
            }
        }  else if (month.equals("july")) {
            if ((day == 1) || (day <= 22)) {
                System.out.println("Your Horoscope, CANCER");
            } else {
                System.out.println("Your Horoscope, LEO");
            }
        }  else if (month.equals("august")) {
            if ((day == 1) || (day <= 22)) {
                System.out.println("Your Horoscope, LEO");
            } else {
                System.out.println("Your Horoscope, VIRGO");
            }
        }   else if (month.equals("september")) {
            if ((day == 1) || (day <= 22)) {
                System.out.println("Your Horoscope, VIRGO");
            } else {
                System.out.println("Your Horoscope, LIBRA");
            }
        }    else if (month.equals("october")) {
            if ((day == 1) || (day <= 22)) {
                System.out.println("Your Horoscope, LIBRA");
            } else {
                System.out.println("Your Horoscope, SCORPIO");
            }
        }    else if (month.equals("november")) {
            if ((day == 1) || (day <= 21)) {
                System.out.println("Your Horoscope, SCORPIO");
            } else {
                System.out.println("Your Horoscope, SAGITTARIUS");
            }
        }   else if (month.equals("december")) {
            if ((day == 1) ||  (day <= 21)) {
                System.out.println("Your Horoscope, SAGITTARIUS");
            } else {
                System.out.println("Your Horoscope, CAPRICORN");
            }
        }
    }
}
